<footer>
    <hr/>
    <p>Made with &hearts;</p>
    <p>
        <a href="https://github.com/AverageMarcus/GitbanBoard">GitHub</a> | <a href="https://github.com/AverageMarcus/GitbanBoard/blob/master/LICENSE">License</a>
    </p>
</footer>