<div class="row swimlane" data-assignee="{{assignee}}">
    <div class="swimlane-label">{{assignee}}</div>
    <div data-column="backlog-col" class="col-sm-3 issue-col">
    </div>
    <div data-column="todo-col" class="col-sm-3 issue-col">
    </div>
    <div data-column="inprogress-col" class="col-sm-3 issue-col">
    </div>
    <div data-column="done-col" class="col-sm-3 issue-col">
    </div>
</div>