<!DOCTYPE html>
<html>
<head>
	<title>Gitban Board</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
	{{> header }}

	{{{body}}}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.11.3/jquery.min.js"></script>
	<script src="/script/application.js" async defer></script>
</body>
</html>